doctype html
html
    head
        title Hello from gulp! Works ?
        link(rel="stylesheet", href="css/main.css")
    body
        h1 We used gulp to generate this! Autoload ? Yes
        p It seems like it's working! With autoload ? Hello again!!
        p somn
        p si mai somn
        p f somn
        p fffffffffffffffffff somn
        p nu merge local penal
        p hai ma la somn
    footer
        script( src='js/bundle.js' )
